{__NOLAYOUT__}
<div toplayer="1" class="prompt-pop pop-style3" style="z-index:{$zindex};width:800px;" id="<?php echo $funcid;?>" url="<?php echo U('SystemParameter/index'); ?>">

    <div class="title">
        <span class="pop-name">查看部门信息</span>
        <a href="javascript:void(0);" onclick="$(this).parents('.prompt-pop').remove();_asr.closePopup('{$funcid}');" class="close iconfont">&#xe60d;</a>
    </div>

    <div class="pop-scroll">
        <div class="screening ">
            <form action="<?php echo U('SystemParameter/index?func=_save'); ?>" id="<?php echo "$funcid"; ?>-Search" method="get" verify="1">
            <input type="hidden" name="<?php echo "$funcid"; ?>-last-url" id="<?php echo "$funcid"; ?>-last-url" value="<?php echo $__last_url; ?>" />
            <input type="hidden" name="funcid" value="<?php echo "$funcid"; ?>" />
            <input type="hidden" name="pfuncid" value="<?php echo "$pfuncid"; ?>" />
            <input type="hidden" name="id" value="<?php echo $search["id"]; ?>" />
            <input type="hidden" name="_lastchanged" value="<?php echo $search["lastchanged"]; ?>" />
            <ul class="form form-mod-new form-column2">

                <li>
                    <div class="unit-left"><span class="tit"> 客户名字</span></div>
                    <div class="unit-mid"><label class="pbtxt txt0"  ><?php echo $search["parent_id_name"]; ?></label></div>
                </li>

                <li>
                    <div class="unit-left"><span class="tit"> 邮政编码</span></div>
                    <div class="unit-mid"><label class="pbtxt txt0"  ><?php echo $search["postcode"]; ?></label></div>
                </li>
                <li>
                    <div class="unit-left"><span class="tit"> 联系电话</span></div>
                    <div class="unit-mid"><label class="pbtxt txt0"  ><?php echo $search["phone"]; ?></label></div>
                </li>
                <li>
                    <div class="unit-left"><span class="tit"> 联系人员</span></div>
                    <div class="unit-mid"><label class="pbtxt txt0"  ><?php echo $search["linkman"]; ?></label></div>
                </li>
                <li class="per100">
                    <div class="unit-left"><span class="tit"> 地址</span></div>
                    <div class="unit-mid"><label class="pbtxt txt0"  ><?php echo $search["address"]; ?></label></div>
                </li>

            </ul>
            </form>
        </div>
    </div>
    <div class="pop-sub abe-txtc" >
        <input type="button" value="取消" class="btn btn-org mrg_10 " onclick="$(this).parents('.prompt-pop').remove();_asr.closePopup('{$funcid}');" />
    </div>




</div>

<script>
    function <?php echo $funcid; ?>_chooseDate(o) {
        if($('.date').length>0)
            pickmeup('.date').destroy();
        $('.date').removeClass('date')
        $(o).addClass('date');
        pickmeup('.date', {
            format  : 'Y-m-d',
            date : $(o).val(),
            hide_on_select : true,
            locale : 'zh'
        }).show();
    }

    $('.calendar0,.calendar1').on('click',function(){
    <?php echo $funcid; ?>_chooseDate(this)
    });


    /***************************************************************************************/
    /* 前台页面初始化                                                                      */
    /***************************************************************************************/
    function <?php echo $funcid; ?>_init(_id){
        return ;
    }

    /***************************************************************************************/
    /* 前台页面清除                                                                      */
    /***************************************************************************************/
    function <?php echo $funcid; ?>_clearsearch(_frm){



        $("#{$funcid}").find(".selebtn").each(function(){
            $(this).find("a:eq(0)").click();
        });

        $("#{$funcid} .city-tags-new .sele-remove").click();
    }

    function <?php echo $funcid;?>_callback(param){
        _asr.closePopup('{$funcid}');
    }



    {:W('Summary/javascript',array('SystemParameter'))}

</script>

