{__NOLAYOUT__}
<div class="prompt-pop pop-style2" id="{$funcid}" style="z-index:{$zindex}">
    <input type="hidden" name="selecttype" value="{$selecttype}" />
    <div class="title"><span class="pop-name">选择提货信息</span><a href="javascript:void(0);" class="close iconfont" onclick="_asr.closePopup('{$funcid}');">&#xe60d;</a> </div>
    <div class="pop-scroll">
        <div class="table-box">
            <div class="screening treesorder">
                <form id="<?php echo $funcid; ?>-CustomerDelivery-Search" action="{:U('/Home/Popup/index?func=CustomerDelivery')}" method="get">
                <input type="hidden" name="funcid" value="{$funcid}" />
                    <input type="hidden" name="pfuncid" value="{$pfuncid}" />
                <input type="hidden" name="zindex" value="{$zindex}" />
                <ul class="form form-style1">
                    <li> <span class="tit">车牌号</span>
                        <div class="item">
                            <div class="txt-box">
                                <input type="text" name="carno" value="{$search['carno']}" class="txt">
                            </div>
                        </div>
                    </li>
                    <li> <span class="tit">联系人</span>
                        <div class="item">
                            <div class="txt-box">
                                <input type="text" name="contact" value="{$search['contact']}" class="txt">
                            </div>
                        </div>
                    </li>
                </ul>
                <!--筛选表单-->
                <div class="tress-sub abe-txtc">
                    <input type="submit" value="搜索" class="btn btn-org btn-sm mrg_10" onclick="return _asr.submit('<?php echo $funcid;?>', this, '')">
                    <input type="button" value="清除"  class="btn btn-blue btn-sm mrg_10" onclick="return <?php echo "$funcid"; ?>_clearsearch('<?php echo "$funcid"; ?>-CustomerDelivery-Search');">
                </div>
                </form>
            </div>

            <div class="table-in">
                <table border="0" cellspacing="0" cellpadding="0" class="pub-table">
                    <colgroup>
                        <col style="width:40px;"/>
                        <col style="width:100px;"/>
                        <col style="width:80px;"/>
                        <col style="width:120px;"/>
                        <col style="width:120px;"/>
                        <col style="width:80px;"/>
                    </colgroup>
                    <tbody>
                    <tr class="odd">
                        <th>选择</th>
                        <th class="abe-txtl">车牌号</th>
                        <th class="abe-txtl">联系人</th>
                        <th class="abe-txtl">身份证</th>
                        <th class="abe-txtl">联系电话</th>
                        <th class="abe-txtl">备注</th>
                    </tr>
                    <volist name="list" id="item" mod="2" >
                        <tr class="<if condition="$mod eq 0">even<else />odd</if>">
                        <td><input j='<?php echo json_encode($item); ?>' type="<if condition="strtolower($selecttype) eq 'multi'">checkbox<else />radio</if>" name="id[]" show="{$item['carno']}" value="{$item['id']}"></td>
                        <td class="abe-txtl">{$item['carno']}</td>
                        <td class="abe-txtl">{$item['contact']}</td>
                        <td class="abe-txtl">{$item['idcard']}</td>
                        <td class="abe-txtl">{$item['phone']}</td>
                        <td class="abe-txtl">{$item['remarks']}</td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
            <div class="blank15"></div>
            <?php echo $page; ?>
            <div class="blank15"></div>
        </div>
    </div>
    <div class="pop-sub abe-txtc">
        <input type="submit" value="选择" class="btn btn-org mrg_10" onclick="_asr.returnPopup('{$funcid}');">
        <input type="submit" value="取消" class="btn" onclick="_asr.closePopup('{$funcid}');">
    </div>
    <script>

        function <?php echo $funcid; ?>_clearsearch(_frm){
            _asr.setvaluebyname(_frm,"carno", "" );
            _asr.setvaluebyname(_frm,"contact", "" );
        }

    </script>
</div>  
